.navigator {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigator_author {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    line-height: 60px;
}

.navigator_author_logo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.navigator_author_title {
    margin: 0 0 0 20px;
    line-height: 60px;
    font-size: 18px;
}

.navigator_links {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigator_links_item {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navigator_links_item_title {
    padding: 0 0 0 10px;
}