.navigator {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigator_author {
    width: 200px;
    height: 60px;
    line-height: 60px;
    background: red;
    color: white;
}

.navigator_links {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: aqua;
}

.navigator_links_item {
    color: white;
    padding: 0 10px;
}